/*style.css*/
html, body {
  height: 100%;
}

body {
margin: 0;
display: flex;

/* this centers our sketch horizontally. */
  justify-content: center;
/* this centers our sketch vertically. */
  align-items: center;
}
